<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs mt-3">
    @for (calendar of listCalendar; track $index) {
    <li [ngbNavItem]="calendar.fullname">
        <button ngbNavLink class="navSection">{{calendar.fullname}}</button>
        <ng-template ngbNavContent>


            <app-calendary [calendar]="calendar"></app-calendary>


            <!-- para comprobar que funciona, esto se quita -->

            <!-- Patients calendar component -->
            <!-- Esta es la rama de la muerte-->

        </ng-template>
    </li>
    }
</ul>
<div [ngbNavOutlet]="nav" class="mt-2"></div>