<div>
    <div class="d-flex" style="background-image: url('assets/img/fondo.png'); background-size: 100% 100%;  height: 620px;">
        <div class="img">
            <img src="assets/img/imgDentroDIv.PNG" alt="" style="width: 500px; height: 400px;">
        </div>
        <div class="title">
            <h1>Strategic Vaccination Plan of the Ministry of Health and Consumer Affairs of Andalusia.</h1>
            <h2 class="mt-5">Supported by the Andalusian School of Public Health, whose fundamental objectives are the training of health.</h2>
            <button class="btn" [routerLink]="['/calendar-page']">see calendar</button>
        </div>
        
    </div>
    <h1 class="text-black col-5 p-2 g-col-6 me-5 d-flex justify-content-center">Vaccines info</h1>
    <div class="row">
        <div class="col"></div>
        <app-last-vacinnes class="col-5 p-2 g-col-6 me-5 d-flex justify-content-center"></app-last-vacinnes>
        <app-next-vacinnes class="col-5 p-2 g-col-6 ms-5 d-flex justify-content-center"></app-next-vacinnes>
        <div class="col"></div>
    </div>

    <div class="contendor">
        <div class="div"><h1>This is the VaxConnect project, whose fundamental objective is to expand the knowledge of health professionals and citizens of Andalusia in everything related to vaccines.</h1></div>
        <div class="ms-5">
            <img src="assets/img/vac.png" alt="" style="width: 700px; height: 400px;">
        </div>
        
    </div>
    
</div>